# frontend
frontend/node_modules
frontend/.next
frontend/.env
frontend/.env.local

# backend
backend/venv/
__pycache__/
*.pyc
.pytest_cache/
backend/.env
backend/temp_processing/
backend/saved_documents/
backend/incoming_json/

#docs
docs/_srs_extracted.txt

# claude
.claude/settings.local.json

# OS / misc
.DS_Store
Thumbs.db

